main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}

.connections-item {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.connections-item img {
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: contain;
    border: 2px solid white;
    padding: 1rem;
    flex-shrink: 0;
}

.connections-item .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    word-break: break-word;
}

.connections-item .access {
    padding: .5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid white;
    transition: all 500ms ease-in-out;
}

.connections-item .access:hover {
    background-color: transparent;
    color: white;
    padding-left: 1rem;
}

@media (min-width: 900px) {
    .connections-item img {
        max-width: 180px;
        flex-shrink: 0;
    }
}

@media (max-width: 440px) {
    .connections-item {
        flex-direction: column;
    }
}
