main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    user-select: none;
}

.main-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(160px, 60vw, 320px);
    height: clamp(160px, 60vw, 320px);

    padding: 6px;
    border: 4px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

.main-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.desc-container {
    max-width: 420px;
}

.desc-container h2 {
    font-size: clamp(20pt, 4vw, 28pt);
}

.lang {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.lang-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lang-item p {
    font-weight: 900;
}

.lang-item .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    border: 2px solid white;
    border-radius: 20%;
}

.lang-item img {
    width: 24px;
    height: 24px;
    object-fit: contain; 
    border-radius: 15%;
}

.social {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-item p {
    font-weight: 900;
}

.social-item .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    border: 2px solid white;
    border-radius: 50%;
}

.social-item img {
    width: 24px;
    height: 24px;
    object-fit: contain; 
    border-radius: 50%;
}

@media (min-width: 660px) and (max-width: 1000px) {
    main {
        flex-direction: column; 
        gap: 3rem;
        text-align: center;
    } 

    .lang, 
    .social {
        justify-content: center;
        flex-wrap: wrap;
    }

    .desc-container {
        max-width: 100%;
    }
}

@media (max-width: 660px) {
    main {
        flex-direction: column; 
        gap: 3rem;
        text-align: center;
    } 

    .lang {
        justify-content: center;
    }

    .lang-item p {
        display: none;
    }

    .social {
        flex-direction: column;
        align-items: center;
    }
}
