main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    user-select: none;
}

.main-icon {
    transition: transform 0.1s linear;
    transform-style: preserve-3d;
}

.main-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2%;
    border: 4px solid white;
}

.desc-container {
    max-width: 420px;
}

.desc-container h2 {
    font-size: 28pt;
}

.lang {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.lang-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lang-item p {
    font-weight: 900;
}

.lang-item .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    border: 2px solid white;
    border-radius: 20%;
}

.lang-item img {
    width: 24px;
    height: 24px;
    object-fit: contain; 
    border-radius: 15%;
}

.social {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-item p {
    font-weight: 900;
}

.social-item .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    border: 2px solid white;
    border-radius: 50%;
}

.social-item img {
    width: 24px;
    height: 24px;
    object-fit: contain; 
    border-radius: 50%;
}
