:root {
    --main: #e08b9c;       
    --secondary: #7fd1c9; 

    --bg1: #0b0b0e;        
    --bg2: #15151a;        

    --border: #ffffff33;   
    --text: #f5f5f5;       
    --text-muted: #b5b5b5;
}

* {
    margin: 0;
    font-family: Fira Code;
    text-wrap: wrap;
    hyphens: auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text);
}

img {
    display: block;
}

body {
    display: grid;
    grid-template-rows: 5rem 1fr;
    height: 100vh;
    padding: 0 5rem;

    background-color: var(--bg1);
    color: var(--text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    position: relative;
    color: var(--main);
    text-decoration: none;
    width: 100%;
    text-wrap: nowrap;
}

nav a.active {
    color: var(--secondary);
    font-weight: 900;
}

header .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .menu {
    display: none;
}

main {
    padding-bottom: 2rem;
}

@keyframes arrow-animation {
    0% {
        bottom: -1.2rem;
    }
    25% {
        bottom: -1.4rem;
    }
    50% {
        bottom: -1.4rem;
    }
    75% {
        bottom: -1.2rem;
    }
    100% {
        bottom: -1.2rem;
    }
}

@media (min-width: 660px) {
    nav a.active::after {
        content: "^";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
        color: var(--secondary);

        animation: infinite 2s arrow-animation;
    }
}

@media (min-width: 660px) and (max-width: 1000px) {
    body {
        padding: 0 2rem;
    }
}

@media (max-width: 660px) {
    body {
        padding: 0 2rem;
        grid-template-rows: auto 1fr;
    }

    header {
        flex-direction: column;
        padding: 1rem 0;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        width: 100%;
        gap: .25rem;
    }

    header.active nav {
        display: flex;
    }

    header .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        width: 2rem;
        height: 2rem;
        border-radius: .25rem;
        transition: transform 100ms ease;
    }

    header .menu:hover {
        background-color: transparent;
        border: 2px solid black;
        cursor: pointer;
        filter: invert(1);
    }

    header.active .menu {
        transform: rotateZ(90deg);
    }

    nav a {
        background-color: var(--main);
        color: black;
        width: 100%;
        padding: .5rem 0;
        text-align: center;
    }

    nav a.active {
        background-color: var(--secondary);
        color: black;
        padding: 1rem 0;
    }

    nav a:hover {
        background-color: white;
    }
}
