:root {
    --main: #e08b9c;       
    --secondary: #7fd1c9; 

    --bg1: #0b0b0e;        
    --bg2: #15151a;        

    --border: #ffffff33;   
    --text: #f5f5f5;       
    --text-muted: #b5b5b5;
}


* {
    margin: 0;
    font-family: Fira Code;
    text-wrap: wrap;
    hyphens: auto;
}

a {
    text-decoration: none;
    color: var(--text);
}

img {
    display: block;
}

body {
    display: grid;
    grid-template-rows: 5rem 1fr;
    height: 100vh;
    padding: 0 5rem;

    background-color: var(--bg1);
    color: var(--text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    position: relative;
    color: var(--main);
    text-decoration: none;
}

nav a.active {
    color: var(--secondary);
    font-weight: 900;
}

nav a.active::after {
    content: "^";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: var(--secondary);

    animation: infinite 2s arrow-animation;
}

@keyframes arrow-animation {
    0% {
        bottom: -1.2rem;
    }
    25% {
        bottom: -1.4rem;
    }
    50% {
        bottom: -1.4rem;
    }
    75% {
        bottom: -1.2rem;
    }
    100% {
        bottom: -1.2rem;
    }
}
