main {
    display: flex;
    justify-content: center;
}

.portifolio {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
}

.portifolio *:nth-child(2n) {
    flex-direction: row-reverse;
}

.portifolio-item {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.portifolio-item img {
    width: 40vw;
    border: 2px solid white;
    padding: 1rem;
}

.portifolio-item .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portifolio-item .access {
    padding: .5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid white;
    transition: all 500ms ease-in-out;
}

.portifolio-item .access:hover {
    background-color: transparent;
    color: white;
    padding-left: 1rem;
}
