* {
    margin: 0;
}

main {
    padding: 0 10%;

    @media (max-width: 700px) {
        padding: 0 15%;
    }
}

img {
    display: block;
}

header h1, header p, 
main h2 {
    text-align: center;
}

header {
    position: relative;
    padding: 5vh 0;
    margin-bottom: 3px;
}

header p {
   font-family: Inter; 
}

header h1 {
    font-family: Montserrat;
    font-size: 10vh;

    @media (max-width: 700px) {
        font-size: 42pt;
    }
}

header:after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 50vw;
    height: 3px;

    margin: auto;
}

main h2 {
    font-family: Montserrat;
    margin-top: 5vh;
    margin-bottom: 2rem;
}

section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    max-width: 480px;
}

article img, article h3, article p {
    pointer-events: none;
    user-select: none;
}

article {
    box-sizing: border-box;
    min-width: 480px;
    max-width: 480px;
    padding: 20px;
    border-radius: 1rem;

    @media (max-width: 700px) {
        max-width: 100%;
        min-width: 100%;
    }
}

article img {
    box-sizing: border-box;
    max-width: 440px;
    min-width: 440px;
    padding: 2px;

    @media (max-width: 700px) {
        max-width: 100%;
        min-width: 100%;
    }
}

article a {
    text-decoration: none;
    font-family: Inter;
    font-size: 12pt;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

article h3, article p {
    hyphens: auto;
}

article h3 {
    font-family: Montserrat;
    font-size: 22pt;
    margin-top: 1rem;
    margin-bottom: 10px;

    line-height: 1.15em;

    text-align: center;

    @media (max-width: 700px) {
        font-size: 16pt;
        line-height: 1.15em;
    }
}

article p {
    font-family: Inter;
    font-size: 11pt;
    text-align: justify;
    padding: 0 5px;

    margin-bottom: 1rem;

    @media (max-width: 700px) {
        font-size: 9pt;
    }
}

.botao-modo-escuro {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 4rem;
    min-height: 4rem;

    border: none;
    border-radius: 50%;

    transition: background-color 500ms ease;

    @media (max-width: 700px) {
        bottom: 0.5rem;
        right: 0.5rem;
        min-width: 3rem;
        min-height: 3rem;
    }
}

.botao-modo-escuro img {
    max-width: 2.5rem;
    max-height: 2.5rem;
    filter: invert(1);

    @media (max-height: 700px) {
        max-width: 2rem;
        max-height: 2rem;
    }
}

button:hover {
    cursor: pointer;
}

/* Modo claro */

body {
    background-color: #eeeeee;
}

header:after {
    background-color: black;
}

article {
    background-color: black;
}

article img {
    border: 2px solid white;
}

article h3, article p {
    color: white;
}

article a {
    background-color: rgb(0, 75, 135);
    color: white;
    border: 2px solid white;
}

.botao-modo-escuro {
    background-color: black;
}

/* Modo escuro */

body.modo-escuro {
    background-color: #101010;
}

header.modo-escuro:after {
    background-color: white;
}

h1.modo-escuro, h2.modo-escuro,
p.modo-escuro {
    color: white;
}

article.modo-escuro {
    background-color: white;
}

article img.modo-escuro {
    border: 2px solid black;
}

article a.modo-escuro {
    background-color: skyblue;
    color: black;
    border: 2px solid black;
} 

article h3.modo-escuro {
    color: black;
}

article p.modo-escuro {
    color: black;
}

.botao-modo-escuro.modo-escuro {
    background-color: white;
}

.botao-modo-escuro img.modo-escuro {
    filter: invert(0);
}

/* Fontes */
@font-face {
    font-family: Inter;
    src: url(fontes/inter/inter.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fontes/montserrat/montserrat.ttf);
}
