@font-face {
    font-family: DM Sans;
    src: url(../fontes/dm_sans/dm_sans.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fontes/inter/inter.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fontes/montserrat/montserrat.ttf);
}