:root {
    --base: #f7fff7;
    --primary: #c1d3fe;
    --secondary: #274c77;
    --terciary: #011627;
}

/* Fontes */

header h1 {
    font-family: Inter;
}

header nav a {
    font-family: DM Sans;
}

/* Configurações gerais */

* {
    margin: 0;
}

body {
    padding: 1rem 10vw;

    background-color: var(--base);
}

body * {
    max-width: 80vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;

    padding: 0 2rem;

    border-radius: .75rem;

    background-color: var(--secondary);
    color: var(--primary);
}

header * {
    max-height: 5rem;
}

header nav {
    display: flex;
    gap: 1rem;
}

header nav a {
    text-decoration: none;

    color: white;
}

header nav a.ativo {
    font-weight: bolder;
}

header address {
    display: flex;
    gap: 1rem;
}

header address img {
    max-height: 2rem;
    filter: invert(1);
}
