main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;

    height: calc(100vh - 7rem);
}

main img {
    border-radius: 50%;
    max-height: 75vh;
}

main div h2 {
    font-family: Inter;
    font-size: 72pt;
}

main div p {
    font-family: DM Sans;
}
