main > h2 {
    margin-top: 1rem;
    margin-bottom: .25rem;

    text-align: center;

    font-family: Inter;
    font-size: 28pt;
}

main > p {
    margin-bottom: 1rem;

    text-align: center;

    font-family: DM Sans;
    font-size: 14pt;
}

.projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: 1rem;
}

.projetos article {
    display: flex;
    flex-direction: column;
    
    max-width: 35vw;

    border-radius: 2rem;

    background-color: var(--secondary);
}

.projetos article * {
    color: var(--primary);
}

.projetos article img {
    border-radius: 2rem 2rem 0 0;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    padding: 1vw 1vw 2vw; 
}

.informacoes h3 {
    text-align: center;

    font-family: DM Sans;
    font-size: 28pt;
    font-weight: bolder;

    line-height: 0.85em;

    color: white;
}

.informacoes p {
    margin: 1rem 0;

    font-family: Inter;
}

.informacoes a {
    padding: .5rem 1rem;

    border-radius: 1rem;

    text-decoration: none;

    font-family: Inter;
    font-weight: bolder;
    font-size: 16pt;

    background-color: var(--terciary);
    color: white;
}

.informacoes a:hover {
    filter: brightness(120%);
}
