/* COMPORTAMAENTO GERAL */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0 2vw;
    background-color: rgb(20, 20, 20);
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* CORES DOS TEXTOS */

h1, p, a, th, td, button {
    color: white;
}

/* FONTES DOS TEXTOS */

h1, a {
    font-family: Inter;
}

p, th, td, button {
    font-family: DM Sans;
}

/* FONTES PERSONALIZADAS */

@font-face {
    font-family: Tiempos Fine;
    src: url(../fonts/tiempos-fine/tiempos-fine.otf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/inter.ttf);
}

@font-face {
    font-family: DM Sans;
    src: url(../fonts/dm-sans/dm-sans.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/manrope/manrope.ttf);
}

@font-face {
    font-family: Lexend Exa;
    src: url(../fonts/lexend-exa/lexend-exa.ttf);
}