.album-header > img {
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}

header[data-album="now-not-yet"] {
    background: linear-gradient(to bottom right, rgb(255, 135, 65), orangered);
}

header[data-album="persona"] {
    background: linear-gradient(to bottom right, rgb(90, 110, 155), rgb(35, 80, 150));
}

header[data-album="every-single-thing"] {
    background: linear-gradient(to bottom right, rgb(40, 40, 60), rgb(35, 25, 55));
}