.album-header > img {
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}

header[data-album="3"] {
    background: linear-gradient(to bottom right, rgb(45, 45, 45), rgb(20, 20, 20));
}

header[data-album="now-not-yet"] {
    background: linear-gradient(to bottom right, rgb(255, 155, 40), rgb(230, 27, 0));
}

header[data-album="gimys-pt1"] {
    background: linear-gradient(to bottom right, rgb(60, 75, 120), rgb(150, 35, 35));
}

header[data-album="coap"] {
    background: linear-gradient(to bottom right, rgb(0, 155, 255), rgb(255, 0, 55));
}

header[data-album="at-fingerprints"] {
    background: linear-gradient(to bottom right, rgb(255, 81, 0), rgb(70, 95, 85));
}

header[data-album="persona"] {
    background: linear-gradient(to bottom right, rgb(110, 135, 160), rgb(35, 80, 150));
}