body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 3vw;
}

nav {
    display: flex;
    gap: 1.5rem;
}

body > header div {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

body > header div h1 {
    font-family: Lexend Exa;
    user-select: none;
    text-transform: uppercase;
    margin: 0;
    animation: 2s ease entrada-titulo;
}

#logo-header {
    height: 3rem;
    border-radius: 0.65rem;
    animation: 600ms ease entrada-logo;
    z-index: 1;
}

nav a {
    position: relative;
    font-size: 14pt;
}

nav a::after {
    content: " ";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: white;
    transition: 500ms ease-in-out transform;
}

nav a:hover::after {
    transform: scaleX(1);
}

.pagina-atual {
    font-weight: bold;
}

.pagina-atual::after {
    transform: scaleX(0.1);
}

@keyframes entrada-titulo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes entrada-logo {
    0% {
        transform: translateX(268.6px) rotate(360deg);
    }
}